nav.navbar {
  padding: 20px 0;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 90;
  transition:  0.32s ease-in-out;
	.scrolled {
		padding: 0px 0;
  	background-color: #121212;
	}
}
.navbar-nav {
	margin-right: auto;
}

nav.navbar .navbar-nav .nav-link.navbar-link {
  font-weight: 400;
  color: #fff !important;
  letter-spacing: 0.8px;
  padding: 0 25px;
  font-size: 18px;
  opacity: 0.75;
}
nav.navbar .navbar-nav a.nav-link.navbar-link:hover,
nav.navbar .navbar-nav a.nav-link.navbar-link.active {
    opacity: 1;
}
span.navbar-text {
    display: flex;
    align-items: center;
}
.social-icon {
    display: inline-block;
    margin-left: 14px;
		a {
			width: 48px;
			height: 48px;
			background: rgba(217, 217, 217, 0.1);
			display: inline-flex;
			border-radius: 50%;
			margin-right: 6px;
			align-items: center;
			justify-content: center;
			line-height: 1;
			border: 1px solid rgba(255, 255, 255, 0.5);
			&::before {
				content: "";
				width: 48px;
				height: 48px;
				position: absolute;
				background-color: #ffffff;
				border-radius: 50%;
				transform: scale(0);
				transition: 0.3s ease-in-out;
			}
			&:hover::before {
				transform: scale(1);
			}
		}
}
.social-icon a img {
	width: 40%;
	z-index: 1;
	transition: 0.3s ease-in-out;
}
.social-icon a:hover img {
	filter: brightness(0) saturate(100%) invert(0%) sepia(7%) saturate(98%) hue-rotate(346deg) brightness(95%) contrast(86%);
}
.navbar__text {
	button {
		font-weight: 700;
		color: #fff;
		border: 1px solid #fff;
		border-radius: 20px;
		padding: 18px 34px;
		font-size: 18px;
		margin-left: 18px;
		position: relative;
		background-color: transparent;
		transition: 0.3s ease-in-out;
		a {
			text-decoration: none;
			color: #fff;
			&::before {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
			}
		}
		span {
			z-index: 1;
		}
		&::before {
			content: "";
			width: 0%;
			height: 100%;
			position: absolute;
			background-color: #fff;
			border-radius: 20px;
			left: 0;
			top: 0;
			z-index: -1;
			transition: 0.3s ease-in-out;
		}
		&:hover {
			color: #121212;
			a {
				color: #121212;
			}
		}
	}
}

.navbar__text button:hover::before {
	content: "";
	width: 100%;
	height: 100%;
	position: absolute;
}

.navbar__language {
	border: 1px solid #fff;
	border-radius: 20px;
	margin-right: 25px;
	button {
		padding: 10px;
		color: #fff;
		transition: 0.3s ease-in-out;
		letter-spacing: 0.8px;
		font-size: 18px;
		&:hover {
			color: #121212;
			background-color: #fff;
		}
	}
	.active {
		color: #121212;
		background-color: #fff;
	}
	.russian {
		border-right: 1px solid #fff;
		border-top-left-radius: 20px;
		border-bottom-left-radius: 20px;
	}
	.english {
		border-top-right-radius: 20px;
		border-bottom-right-radius: 20px;
	}
}
